body {
    
}

.border-gray {
    border: 5px solid black;
    background-color: rgb(188, 188, 188);
    width: 700px;
    padding: 57px;
  margin: auto;
  position: relative;
  margin:20px auto ;
}

.border-blue {
    border: 20px solid black;
    background-color: rgb(104,252,252);
 padding: 170px;
   
}
.circle{
    
    border: 5px solid black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: rgb(8,20,252);

    
}
.text{
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    margin-left: 50px;
}