:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li{
  border: 1px solid black;
  padding: 1rem;
}